<section class="bug">
	<div class="bug__container">
		<div class="breadcrumbs">
			<ul>
				<li>
					<a href="#">Главная</a>
				</li>
				<li>
					<span>
						Корзина
					</span>
				</li>
			</ul>
		</div>

		<h1 class="title bug__title">Корзина</h1>

		<div class="bug__content">
			<ul class="bugs">
				<li class="bugs__item">
					@@include('_card--bug.htm',{
					"category": "Категория",
					"discount": "-15%",
					"link": "#",
					"images": "img/products/product-2.jpg",
					"name": "Домашняя паста со шпинатом",
					"weight": "200 гр",
					"new": "58 EUR",
					"old": "65 EUR"
					})
				</li>
				<li class="bugs__item">
					@@include('_card--bug.htm',{
					"category": "Категория",
					"discount": "-15%",
					"link": "#",
					"images": "img/products/product-2.jpg",
					"name": "Домашняя паста со шпинатом",
					"weight": "200 гр",
					"new": "58 EUR",
					"old": "65 EUR"
					})
				</li>
				<li class="bugs__item">
					@@include('_card--bug.htm',{
					"category": "Категория",
					"discount": "-15%",
					"link": "#",
					"images": "img/products/product-2.jpg",
					"name": "Домашняя паста со шпинатом",
					"weight": "200 гр",
					"new": "58 EUR",
					"old": "65 EUR"
					})
				</li>
				<li class="bugs__item">
					@@include('_card--bug.htm',{
					"category": "Категория",
					"discount": "-15%",
					"link": "#",
					"images": "img/products/product-2.jpg",
					"name": "Домашняя паста со шпинатом",
					"weight": "200 гр",
					"new": "58 EUR",
					"old": "65 EUR"
					})
				</li>
			</ul>

			<div class="till">
				<ul class="till__btns">
					<li class="till__btn">
						<a class="till__link till__link--accent btn" href="#">
							Оформить заказ
						</a>
					</li>
					<li class="till__btn">
						<a class="till__link btn" href="#">
							Продолжить покупки
						</a>
					</li>
				</ul>

				<div class="till__resume">
					<span class="till__name">
						4 шт.
					</span>
					<span class="till__price">
						150 EUR
					</span>
				</div>

				<div class="till__total">
					<span class="till__name">
						Итого <br><span>(включая НДС):</span>
					</span>

					<span class="till__price">
						150 EUR
					</span>
				</div>

				<ul class="till__taxes">
					<li class="till__tax">
						<span class="till__taxname">
							Цена без НДС:
						</span>
						<span class="till__taxvalue">
							10 EUR
						</span>
					</li>
					<li class="till__tax">
						<span class="till__taxname">
							НДС 21%:
						</span>
						<span class="till__taxvalue">
							2,1 EUR
						</span>
					</li>
				</ul>
			</div>
		</div>

	</div>
</section>