<article class="card card--bug">

	<div class="card__box">
		<img class="card__img" src="@@images" alt="product images">

		<div class="card__info">
			<span class="card__category">@@category</span>
			<h2 class="card__name">@@name</h2>
			<span class="card__weight">@@weight</span>
		</div>
	</div>

	<div class="quantity">
		<span class="quantity__head">Количество:</span>
		<button type="button" class="quantity__button quantity__button--minus"></button>
		<div class="quantity__input">
			<input autocomplete="off" type="text" name="form[]" value="4 шт.">
		</div>
		<button type="button" class="quantity__button quantity__button--plus"></button>
	</div>

	<div class="card__price">
		50 EUR
	</div>

	<button class="card__trash" type="button">
		<span class="sr-only">Удалить товар из корзины</span>
	</button>

</article>