<article class="card card--recipe">
	<a class="card__link" href="@@link">
		<div class="card__box">
			<div class="card__space"></div>
			<img class="card__img" src="@@images" alt="product images">
			<span class="card__more btn">
				Подробнее
			</span>
		</div>

		<div class="card__top">
			<span class="card__category">
				@@category
			</span>
			<div class="card__date">
				@@date
			</div>
		</div>

		<ul class="card__stats">
			<li class="card__stat card__stat--comments">
				@@comments
			</li>
			<li class="card__stat card__stat--views">
				@@views
			</li>
		</ul>

		<h3 class="card__name">@@name</h3>
	</a>
</article>