<section class="contact">
	<div class="contact__container">
		<div class="breadcrumbs">
			<ul>
				<li>
					<a href="#">Главная</a>
				</li>
				<li>
					<span>
						Контакты
					</span>
				</li>
			</ul>
		</div>

		<h1 class="title contact__title">Свяжитесь со мной</h1>

		<address class="address">
			<div class="address__info">
				<ul class="address__list">
					<li class="address__item address__item--accent">
						<h2 class="address__name">39 Saules iela, Daugavpils, LV-5401</h2>
						<a class="address__link address__link--phone" href="tel:+37124509965">
							+371 24 509 965
						</a>
						<a class="address__link address__link--mail" href="mailto:info@imbirfoodstories.lv">
							info@imbirfoodstories.lv
						</a>
					</li>
					<a class="address__point"
						href="https://www.google.ru/maps/place/Saules+iela+39,+Daugavpils,+LV-5401,+%D0%9B%D0%B0%D1%82%D0%B2%D0%B8%D1%8F/@55.871144,26.5184511,17z/data=!4m5!3m4!1s0x46c295c123f0c439:0xdae310342cdf0149!8m2!3d55.8713336!4d26.5206827?hl=ru"
						target="_blank">
						<img class="address__img" src="@img/map-mini.jpg" alt="map">
					</a>

					<li class="address__item">
						<h2 class="address__name">39 Saules iela, Daugavpils, LV-5401</h2>
						<a class="address__link address__link--phone" href="tel:+37124509965">
							+371 24 509 965
						</a>
						<a class="address__link address__link--mail" href="mailto:info@imbirfoodstories.lv">
							info@imbirfoodstories.lv
						</a>
					</li>
					<a class="address__point"
						href="https://www.google.ru/maps/place/Saules+iela+39,+Daugavpils,+LV-5401,+%D0%9B%D0%B0%D1%82%D0%B2%D0%B8%D1%8F/@55.871144,26.5184511,17z/data=!4m5!3m4!1s0x46c295c123f0c439:0xdae310342cdf0149!8m2!3d55.8713336!4d26.5206827?hl=ru"
						target="_blank">
						<img class="address__img" src="@img/map-mini.jpg" alt="map">
					</a>
				</ul>
			</div>

			<a class="address__map"
				href="https://www.google.ru/maps/place/Saules+iela+39,+Daugavpils,+LV-5401,+%D0%9B%D0%B0%D1%82%D0%B2%D0%B8%D1%8F/@55.871144,26.5184511,17z/data=!4m5!3m4!1s0x46c295c123f0c439:0xdae310342cdf0149!8m2!3d55.8713336!4d26.5206827?hl=ru"
				target="_blank">
				<img class="address__img" src="@img/map.jpg" alt="map">
			</a>
		</address>

		<div class="feedback">
			<h2 class="feedback__title">Вы можете связаться со мной</h2>

			<p class="feedback__subtitle">
				что бы поделиться своим мнением, сказать комплимент, или для рекламы :)
			</p>

			<form class="feedback__form" action="#">
				<ul class="feedback__top">
					<li class="feedback__item">
						<label class="sr-only" for="name">Имя</label>
						<input id="name" type="text" name="your-name" placeholder="Ваше имя *" required>
					</li>
					<li class="feedback__item">
						<label class="sr-only" for="email">Почта</label>
						<input id="email" type="email" name="your-mail" placeholder="E-mail *" required>
					</li>
					<li class="feedback__item">
						<label class="sr-only" for="phone">Телефон</label>
						<input id="phone" type="tel" name="your-phone" placeholder="Телефон *" required>
					</li>
				</ul>

				<div class="feedback__item">
					<label class="sr-only" for="message">Сообщение</label>
					<textarea name="message" id="message" placeholder="Сообщение"></textarea>
				</div>

				<p class="feedback__info">
					Мы всегда стараемся ответить как можно скорее. Необходимо нажать проклятие, завести машину, опустить экран. До
					моего
					заднего двора, этого мультфильма жизни, который можно украшать без страха.
				</p>

				<div class="feedback__bottom">
					<label class="feedback__check">
						<input class="feedback__checkbox sr-only" name="checker" type="checkbox" data-validate data-required
							required>
						<div class="feedback__checker">
							<p class="feedback__descr">
								Отправляя заявку я соглашаюсь с <a href="#">политикой конфидиальности</a>
							</p>
						</div>
					</label>

					<button class="btn feedback__btn" type="submit">
						Отправить
					</button>
				</div>
			</form>
		</div>

	</div>
</section>