<section class="newsline-slider">
	<h2 class="sr-only">Instagram posts line slider</h2>

	<div class="newsline-slider__mobile-offer">
		<h3 class="newsline-slider__heading">Жду тебя в своем инстаграм</h3>
		<span class="newsline-slider__descr">@imbir_food_stories</span>
	</div>

	<div class="newsline-slider__slider">
		<ul class="newsline-slider__swiper">
			<li class="newsline-slider__slide">
				<a class="newsline-slider__link" href="#">
					<img class="newsline-slider__image" src="@img/feed/insta-1.jpg" alt="slider image">
				</a>
			</li>
			<li class="newsline-slider__slide">
				<a class="newsline-slider__link" href="#">
					<img class="newsline-slider__image" src="@img/feed/insta-2.jpg" alt="slider image">
				</a>
			</li>
			<li class="newsline-slider__slide newsline-slider__slide--banner">
				<a class="newsline-slider__link" href="#">
					<h3 class="newsline-slider__name">Жду тебя в своем инстаграм</h3>
					<span class="newsline-slider__value">@imbir_food_stories</span>
				</a>
			</li>
			<li class="newsline-slider__slide">
				<a class="newsline-slider__link" href="#">
					<img class="newsline-slider__image" src="@img/feed/insta-3.jpg" alt="slider image">
				</a>
			</li>
			<li class="newsline-slider__slide">
				<a class="newsline-slider__link" href="#">
					<img class="newsline-slider__image" src="@img/feed/insta-4.jpg" alt="slider image">
				</a>
			</li>
			<li class="newsline-slider__slide">
				<a class="newsline-slider__link" href="#">
					<img class="newsline-slider__image" src="@img/feed/insta-5.jpg" alt="slider image">
				</a>
			</li>
			<li class="newsline-slider__slide">
				<a class="newsline-slider__link" href="#">
					<img class="newsline-slider__image" src="@img/feed/insta-6.jpg" alt="slider image">
				</a>
			</li>
			<li class="newsline-slider__slide">
				<a class="newsline-slider__link" href="#">
					<img class="newsline-slider__image" src="@img/feed/insta-5.jpg" alt="slider image">
				</a>
			</li>
			<li class="newsline-slider__slide">
				<a class="newsline-slider__link" href="#">
					<img class="newsline-slider__image" src="@img/feed/insta-4.jpg" alt="slider image">
				</a>
			</li>
			<li class="newsline-slider__slide">
				<img class="newsline-slider__image" src="@img/feed/insta-5.jpg" alt="slider image">
			</li>
			<li class="newsline-slider__slide">
				<img class="newsline-slider__image" src="@img/feed/insta-3.jpg" alt="slider image">
			</li>
		</ul>
	</div>
</section>