<section class="popular">
	<div class="popular__container">
		<h2 class="popular__title title">Популярные товары</h2>

		<ul class="pupular__list">
			<li class="pupular__item">
				@@include('_card--product.htm',{
				"category": "Категория",
				"discount": "-25%",
				"link": "#",
				"images": "img/products/product-1.jpg",
				"name": "Смесь специй",
				"weight": "65 гр",
				"new": "30 EUR",
				"old": "150 EUR"
				})
			</li>

			<li class="pupular__item">
				@@include('_card--product.htm',{
				"category": "Категория",
				"discount": "-25%",
				"link": "#",
				"images": "img/products/product-1.jpg",
				"name": "Смесь специй",
				"weight": "65 гр",
				"new": "30 EUR",
				"old": "150 EUR"
				})
			</li>

			<li class="pupular__item">
				@@include('_card--product.htm',{
				"category": "Категория",
				"discount": "-25%",
				"link": "#",
				"images": "img/products/product-1.jpg",
				"name": "Смесь специй",
				"weight": "65 гр",
				"new": "30 EUR",
				"old": "150 EUR"
				})
			</li>

			<li class="pupular__item">
				@@include('_card--product.htm',{
				"category": "Категория",
				"discount": "-25%",
				"link": "#",
				"images": "img/products/product-1.jpg",
				"name": "Смесь специй",
				"weight": "65 гр",
				"new": "30 EUR",
				"old": "150 EUR"
				})
			</li>

			<li class="pupular__item">
				@@include('_card--product.htm',{
				"category": "Категория",
				"discount": "-25%",
				"link": "#",
				"images": "img/products/product-1.jpg",
				"name": "Смесь специй",
				"weight": "65 гр",
				"new": "30 EUR",
				"old": "150 EUR"
				})
			</li>

			<li class="pupular__item">
				@@include('_card--product.htm',{
				"category": "Категория",
				"discount": "-25%",
				"link": "#",
				"images": "img/products/product-1.jpg",
				"name": "Смесь специй",
				"weight": "65 гр",
				"new": "30 EUR",
				"old": "150 EUR"
				})
			</li>

			<li class="pupular__item">
				@@include('_card--product.htm',{
				"category": "Категория",
				"discount": "-25%",
				"link": "#",
				"images": "img/products/product-1.jpg",
				"name": "Смесь специй",
				"weight": "65 гр",
				"new": "30 EUR",
				"old": "150 EUR"
				})
			</li>

			<li class="pupular__item">
				@@include('_card--product.htm',{
				"category": "Категория",
				"discount": "-25%",
				"link": "#",
				"images": "img/products/product-1.jpg",
				"name": "Смесь специй",
				"weight": "65 гр",
				"new": "30 EUR",
				"old": "150 EUR"
				})
			</li>

			<li class="pupular__item">
				@@include('_card--product.htm',{
				"category": "Категория",
				"discount": "-25%",
				"link": "#",
				"images": "img/products/product-1.jpg",
				"name": "Смесь специй",
				"weight": "65 гр",
				"new": "30 EUR",
				"old": "150 EUR"
				})
			</li>
		</ul>

		<button class="pupular__btn btn" type="button">
			Загрузить еще
		</button>

		<!-- <a class="banner pupular__banner" href="#">
			<h3 class="banner__headline">Горячие скидки</h3>
			<span class="banner__value">-25%</span>
			<p class="banner__descr">
				на все товары из категории “Приправы”
			</p>
		</a> -->

	</div>
</section>