<section class="promo">
	<div class="promo__container">
		<div class="promo__slider">
			<ul class="promo__swiper">

				<li class="promo__slide" style="background-image: url(@img/products/product-1.jpg);">
					<a class="promo__link" data-popup="#popup-card" href="#">
						<span class="promo__label promo__label--accent">новый рецепт</span>
						<h3 class="promo__name">Медовый торт, тот самый!</h3>
						<span class="promo__more">
							Подробнее
							<svg class="promo__arrow">
								<use xlink:href="@img/icons/sprite.svg#icon-arrow-round"></use>
							</svg>
						</span>
					</a>
				</li>

				<li class="promo__slide" style="background-image: url(@img/products/product-2.jpg);">
					<a class="promo__link" data-popup="#popup-order" href="#">
						<h3 class="promo__name">
							Лимонный кекс
						</h3>
						<span class="promo__weight">
							200 гр
						</span>
						<div class="promo__price">
							<span class="promo__new">58 EUR</span>
							<span class="promo__old">65 EUR</span>
						</div>
					</a>
				</li>

				<li class="promo__slide promo__slide--discount">
					<span class="promo__link">
						<h3 class="promo__headline">Идеи для подарков</h3>
						<a class="promo__more-btn" href="#">
							Подробнее
						</a>
					</span>
				</li>

				<li class="promo__slide" style="background-image: url(@img/products/product-3.jpg);">
					<a class="promo__link" href="#">
						<span class="promo__label promo__label--second">новинка</span>
						<h3 class="promo__name">Тирамису</h3>
						<span class="promo__weight">
							200 гр
						</span>
						<div class="promo__price">
							<span class="promo__new">58 EUR</span>
							<span class="promo__old">65 EUR</span>
						</div>
					</a>
				</li>

				<li class="promo__slide" style="background-image: url(@img/products/product-4.jpg);">
					<a class="promo__link" href="#">
						<span class="promo__label promo__label--second">новинка</span>
						<h3 class="promo__name">Тирамису</h3>
						<span class="promo__weight">
							200 гр
						</span>
						<div class="promo__price">
							<span class="promo__new">58 EUR</span>
							<span class="promo__old">65 EUR</span>
						</div>
					</a>
				</li>

			</ul>

			<div class="promo__pagination dots"></div>
		</div>
	</div>
</section>