<section class="product">
	<div class="product__container">

		<div class="breadcrumbs">
			<ul>
				<li>
					<a href="#">Главная</a>
				</li>
				<li>
					<a href="#">Магазин</a>
				</li>
				<li>
					<a href="#">Для веганов</a>
				</li>
				<li>
					<span>
						Домашняя паста со шпинатом
					</span>
				</li>
			</ul>
		</div>

		<div class="product__content">
			<div class="product__preview">
				<div class="discount">-15%</div>
				<div class="product__space"></div>
				<img class="product__img" src="@img/products/product-8.jpg" alt="product image">
			</div>

			<div class="product__info">
				<h1 class="product__title title" data-da=".product__content, 992, 0">
					Домашняя паста со шпинатом
				</h1>

				<div class="product__text">
					<p>
						Домашняя паста на 100% изготовлена ​​вручную из пшеничной муки высшего сорта и свежих куриных яиц от
						местного
						производителя.
					</p>
					<p>
						Состав: пшеничная мука, яйца, шпинат (2%), вода, соль.
					</p>
					<p>
						Приготовить домашнюю пасту очень просто
						– закиньте
						ее в кипящую воду, добавьте специи и чудесное блюдо готово за 7 минут!
					</p>
					<p>
						Вес: 200 гр
					</p>
				</div>

				<form class="product__form" action="#">
					<ul class="product__chars">
						<li class="product__char">
							<label class="product__label" for="taste">Вкус:</label>
							<select class="product__select" name="taste" id="taste">
								<option value="Соленая карамель">Соленая карамель</option>
								<option value="Сладкая карамель">Сладкая карамель</option>
							</select>
						</li>
						<li class="product__char">
							<label class="product__label" for="volume">Обьём:</label>
							<select class="product__select" name="volume" id="volume">
								<option value="Соленая карамель">60 мл</option>
								<option value="Сладкая карамель">70 мл</option>
							</select>
						</li>
					</ul>

					<div class="quantity">
						<span class="quantity__head">Количество:</span>
						<button type="button" class="quantity__button quantity__button--minus"></button>
						<div class="quantity__input">
							<input autocomplete="off" type="text" name="form[]" value="4 шт.">
						</div>
						<button type="button" class="quantity__button quantity__button--plus"></button>
					</div>

					<div class="product__order">
						<div class="price">
							<span class="price__new">150 EUR</span>
							<span class="price__old">160 EUR</span>
						</div>
						<button class="product__btn btn" type="button">
							В корзину
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>