<section class="shop">
	<div class="shop__container">
		<div class="breadcrumbs">
			<ul>
				<li>
					<a href="#">Главная</a>
				</li>
				<li>
					<span>
						Магазин
					</span>
				</li>
			</ul>
		</div>

		<h1 class="title shop__title">Магазин</h1>

		<div class="shop__content">

			<div class="shop__sidebar">

				<div class="shop__caterory">
					<h2 class="shop__heading">Категории</h2>

					<ul class="shop__caterories">
						Макароны Печенье Хлеб
						<li data-spollers class="spollers shop__spollers">
							<div class="spollers__item">
								<button type="button" data-spoller class="spollers__title">
									Для веганов
								</button>
								<div class="spollers__body">
									<ul class="spollers__list">
										<li class="spollers__one">
											<label class="spollers__check">
												<input class="spollers__checkbox sr-only" name="checker" type="checkbox" data-validate
													data-required required>
												<div class="spollers__checker">
													<p class="spollers__descr">
														Название пункта
													</p>
												</div>
											</label>
										</li>
										<li class="spollers__one">
											<label class="spollers__check">
												<input class="spollers__checkbox sr-only" name="checker" type="checkbox" data-validate
													data-required required>
												<div class="spollers__checker">
													<p class="spollers__descr">
														Название пункта
													</p>
												</div>
											</label>
										</li>
										<li class="spollers__one">
											<label class="spollers__check">
												<input class="spollers__checkbox sr-only" name="checker" type="checkbox" data-validate
													data-required required>
												<div class="spollers__checker">
													<p class="spollers__descr">
														Название пункта
													</p>
												</div>
											</label>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li data-spollers class="spollers shop__spollers">
							<div class="spollers__item">
								<button type="button" data-spoller class="spollers__title">
									Шоколад
								</button>
								<div class="spollers__body">
									<ul class="spollers__list">
										<li class="spollers__one">
											<label class="spollers__check">
												<input class="spollers__checkbox sr-only" name="checker" type="checkbox" data-validate
													data-required required>
												<div class="spollers__checker">
													<p class="spollers__descr">
														Название пункта
													</p>
												</div>
											</label>
										</li>
										<li class="spollers__one">
											<label class="spollers__check">
												<input class="spollers__checkbox sr-only" name="checker" type="checkbox" data-validate
													data-required required>
												<div class="spollers__checker">
													<p class="spollers__descr">
														Название пункта
													</p>
												</div>
											</label>
										</li>
										<li class="spollers__one">
											<label class="spollers__check">
												<input class="spollers__checkbox sr-only" name="checker" type="checkbox" data-validate
													data-required required>
												<div class="spollers__checker">
													<p class="spollers__descr">
														Название пункта
													</p>
												</div>
											</label>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li data-spollers class="spollers shop__spollers">
							<div class="spollers__item">
								<button type="button" data-spoller class="spollers__title">
									Макароны
								</button>
								<div class="spollers__body">
									<ul class="spollers__list">
										<li class="spollers__one">
											<label class="spollers__check">
												<input class="spollers__checkbox sr-only" name="checker" type="checkbox" data-validate
													data-required required>
												<div class="spollers__checker">
													<p class="spollers__descr">
														Название пункта
													</p>
												</div>
											</label>
										</li>
										<li class="spollers__one">
											<label class="spollers__check">
												<input class="spollers__checkbox sr-only" name="checker" type="checkbox" data-validate
													data-required required>
												<div class="spollers__checker">
													<p class="spollers__descr">
														Название пункта
													</p>
												</div>
											</label>
										</li>
										<li class="spollers__one">
											<label class="spollers__check">
												<input class="spollers__checkbox sr-only" name="checker" type="checkbox" data-validate
													data-required required>
												<div class="spollers__checker">
													<p class="spollers__descr">
														Название пункта
													</p>
												</div>
											</label>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li data-spollers class="spollers shop__spollers">
							<div class="spollers__item">
								<button type="button" data-spoller class="spollers__title">
									Печенье
								</button>
								<div class="spollers__body">
									<ul class="spollers__list">
										<li class="spollers__one">
											<label class="spollers__check">
												<input class="spollers__checkbox sr-only" name="checker" type="checkbox" data-validate
													data-required required>
												<div class="spollers__checker">
													<p class="spollers__descr">
														Название пункта
													</p>
												</div>
											</label>
										</li>
										<li class="spollers__one">
											<label class="spollers__check">
												<input class="spollers__checkbox sr-only" name="checker" type="checkbox" data-validate
													data-required required>
												<div class="spollers__checker">
													<p class="spollers__descr">
														Название пункта
													</p>
												</div>
											</label>
										</li>
										<li class="spollers__one">
											<label class="spollers__check">
												<input class="spollers__checkbox sr-only" name="checker" type="checkbox" data-validate
													data-required required>
												<div class="spollers__checker">
													<p class="spollers__descr">
														Название пункта
													</p>
												</div>
											</label>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li data-spollers class="spollers shop__spollers">
							<div class="spollers__item">
								<button type="button" data-spoller class="spollers__title">
									Хлеб
								</button>
								<div class="spollers__body">
									<ul class="spollers__list">
										<li class="spollers__one">
											<label class="spollers__check">
												<input class="spollers__checkbox sr-only" name="checker" type="checkbox" data-validate
													data-required required>
												<div class="spollers__checker">
													<p class="spollers__descr">
														Название пункта
													</p>
												</div>
											</label>
										</li>
										<li class="spollers__one">
											<label class="spollers__check">
												<input class="spollers__checkbox sr-only" name="checker" type="checkbox" data-validate
													data-required required>
												<div class="spollers__checker">
													<p class="spollers__descr">
														Название пункта
													</p>
												</div>
											</label>
										</li>
										<li class="spollers__one">
											<label class="spollers__check">
												<input class="spollers__checkbox sr-only" name="checker" type="checkbox" data-validate
													data-required required>
												<div class="spollers__checker">
													<p class="spollers__descr">
														Название пункта
													</p>
												</div>
											</label>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li data-spollers class="spollers shop__spollers">
							<div class="spollers__item">
								<button type="button" data-spoller class="spollers__title">
									Для веганов
								</button>
								<div class="spollers__body">
									<ul class="spollers__list">
										<li class="spollers__one">
											<label class="spollers__check">
												<input class="spollers__checkbox sr-only" name="checker" type="checkbox" data-validate
													data-required required>
												<div class="spollers__checker">
													<p class="spollers__descr">
														Название пункта
													</p>
												</div>
											</label>
										</li>
										<li class="spollers__one">
											<label class="spollers__check">
												<input class="spollers__checkbox sr-only" name="checker" type="checkbox" data-validate
													data-required required>
												<div class="spollers__checker">
													<p class="spollers__descr">
														Название пункта
													</p>
												</div>
											</label>
										</li>
										<li class="spollers__one">
											<label class="spollers__check">
												<input class="spollers__checkbox sr-only" name="checker" type="checkbox" data-validate
													data-required required>
												<div class="spollers__checker">
													<p class="spollers__descr">
														Название пункта
													</p>
												</div>
											</label>
										</li>
									</ul>
								</div>
							</div>
						</li>
					</ul>

				</div>

				<div class="shop__price price">
					<div data-spollers class="spollers price__spollers">
						<div class="spollers__item">
							<button type="button" data-spoller class="spollers__title">
								Цена
							</button>
							<div class="spollers__body">
								<div class="price__range"></div>
							</div>
						</div>
					</div>
				</div>

			</div>

			<div class="shop__products">
				<div class="shop__sortable">
					Сортировать:
					<select class="shop__select" name="sortable" id="sortable">
						<option value="ascending">цена по возрастанию</option>
						<option value="descending">цена по убыванию</option>
					</select>
				</div>

				<ul class="shop__list">
					<li class="shop__item">
						@@include('_card--product.htm',{
						"category": "Категория",
						"discount": "-25%",
						"link": "#",
						"images": "img/products/product-1.jpg",
						"name": "Смесь специй",
						"weight": "65 гр",
						"new": "30 EUR",
						"old": "150 EUR"
						})
					</li>
					<li class="shop__item">
						@@include('_card--product.htm',{
						"category": "Категория",
						"discount": "-15%",
						"link": "#",
						"images": "img/products/product-2.jpg",
						"name": "Домашняя паста со шпинатом",
						"weight": "200 гр",
						"new": "58 EUR",
						"old": "65 EUR"
						})
					</li>
					<li class="shop__item">
						@@include('_card--product.htm',{
						"category": "Категория",
						"discount": "-25%",
						"link": "#",
						"images": "img/products/product-3.jpg",
						"name": "Фалафель",
						"weight": "200 гр",
						"new": "50 EUR",
						"old": "60 EUR"
						})
					</li>
					<li class="shop__item">
						@@include('_card--product.htm',{
						"category": "Категория",
						"discount": "-25%",
						"link": "#",
						"images": "img/products/product-1.jpg",
						"name": "Смесь специй",
						"weight": "65 гр",
						"new": "30 EUR",
						"old": "150 EUR"
						})
					</li>
					<li class="shop__item">
						@@include('_card--product.htm',{
						"category": "Категория",
						"discount": "-15%",
						"link": "#",
						"images": "img/products/product-2.jpg",
						"name": "Домашняя паста со шпинатом",
						"weight": "200 гр",
						"new": "58 EUR",
						"old": "65 EUR"
						})
					</li>
					<li class="shop__item">
						@@include('_card--product.htm',{
						"category": "Категория",
						"discount": "-25%",
						"link": "#",
						"images": "img/products/product-1.jpg",
						"name": "Смесь специй",
						"weight": "65 гр",
						"new": "30 EUR",
						"old": "150 EUR"
						})
					</li>
					<li class="shop__item">
						@@include('_card--product.htm',{
						"category": "Категория",
						"discount": "-15%",
						"link": "#",
						"images": "img/products/product-2.jpg",
						"name": "Домашняя паста со шпинатом",
						"weight": "200 гр",
						"new": "58 EUR",
						"old": "65 EUR"
						})
					</li>
					<li class="shop__item">
						@@include('_card--product.htm',{
						"category": "Категория",
						"discount": "-25%",
						"link": "#",
						"images": "img/products/product-3.jpg",
						"name": "Фалафель",
						"weight": "200 гр",
						"new": "50 EUR",
						"old": "60 EUR"
						})
					</li>
					<li class="shop__item">
						@@include('_card--product.htm',{
						"category": "Категория",
						"discount": "-25%",
						"link": "#",
						"images": "img/products/product-1.jpg",
						"name": "Смесь специй",
						"weight": "65 гр",
						"new": "30 EUR",
						"old": "150 EUR"
						})
					</li>
					<li class="shop__item">
						@@include('_card--product.htm',{
						"category": "Категория",
						"discount": "-15%",
						"link": "#",
						"images": "img/products/product-2.jpg",
						"name": "Домашняя паста со шпинатом",
						"weight": "200 гр",
						"new": "58 EUR",
						"old": "65 EUR"
						})
					</li>
				</ul>

				<div class="pagination">
					<ul>
						<li>
							<a href="#">1</a>
						</li>
						<li class="current">
							<a href="#">2</a>
						</li>
						<li>
							<a href="#">3</a>
						</li>
						<li>
							<a href="#">4</a>
						</li>
						<li>
							<a href="#">...</a>
						</li>
						<li>
							<a href="#">14</a>
						</li>
						<li>
							<a href="#">15</a>
						</li>
						<li>
							<a href="#">>></a>
						</li>
					</ul>
				</div>
			</div>

		</div>

	</div>
</section>