<div class="similar">

	<h2 class="similar__title">
		Похожие записи
	</h2>

	<div class="similar__slider">
		<ul class="similar__swiper">
			<li class="similar__slide">
				<a class="similar__link" href="#">
					<div class="similar__img-space"></div>
					<img class="similar__img" src="@img/article/article-1.jpg" alt="image">
				</a>
				<p class="similar__excerpt">
					Самое вкусное миндальное печенье, возвращение в блог и новая рубрика
				</p>
			</li>

			<li class="similar__slide">
				<a class="similar__link" href="#">
					<div class="similar__img-space"></div>
					<img class="similar__img" src="@img/products/product-11.jpg" alt="image">
				</a>
				<p class="similar__excerpt">
					Хлеб — всё просто!
				</p>
			</li>

			<li class="similar__slide">
				<a class="similar__link" href="#">
					<div class="similar__img-space"></div>
					<img class="similar__img" src="@img/products/product-15.jpg" alt="image">
				</a>
				<p class="similar__excerpt">
					Банановый хлеб, веганский
				</p>
			</li>

			<li class="similar__slide">
				<a class="similar__link" href="#">
					<div class="similar__img-space"></div>
					<img class="similar__img" src="@img/products/product-11.jpg" alt="image">
				</a>
				<p class="similar__excerpt">
					Хлеб — всё просто!
				</p>
			</li>

			<li class="similar__slide">
				<a class="similar__link" href="#">
					<div class="similar__img-space"></div>
					<img class="similar__img" src="@img/products/product-15.jpg" alt="image">
				</a>
				<p class="similar__excerpt">
					Банановый хлеб, веганский
				</p>
			</li>
		</ul>
		<div class="similar__pagination dots"></div>
	</div>
</div>