// Заголовки, общие БЄМ блоки и проче...

.title {
    position: relative;
    padding-bottom: rem(20);
    @include adaptiveValue('font-size', 28, 22);

    &::after {
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: $accent;
        width: rem(75);
        height: rem(2);
        content: '';
    }
}

.btn {
    display: inline-block;
    padding: rem(15) rem(20);
    border-radius: 10px;
    background-color: $accent;
    color: #ffffff;
    background-image: url('@img/icons/icon-arrow-round.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) center;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: $second;
    }
}
