//====================================================================================================

.footer {
    .socials {
        padding-top: rem(10);

        @media (max-width: em(992)) {
            padding-top: 0;
            order: 2;
        }
    }
}

.footer__content {
    padding: rem(40) 0 rem(55);
    display: flex;
    gap: rem(30);
    justify-content: space-between;
    border-top: 1px solid #dddddd;
    font-size: rem(15);

    @media (max-width: em(992)) {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: rem(32);
    }

    @media (max-width: $mobileSmall) {
        padding: rem(32) 0 rem(38);
    }
}

.footer__menu {
    padding-top: rem(10);

    li {
        &:not(:last-child) {
            margin-bottom: rem(20);
        }
    }

    a {
        transition: color 0.3s ease;

        &:hover {
            color: $accent;
        }
    }

    @media (max-width: em(1024)) {
        display: none;
    }
}

.footer__name {
    @include adaptiveValue('margin-bottom', 25, 12);
}

.footer__link {
}

.footer__contacts {
    padding-top: rem(10);

    @media (max-width: em(992)) {
        margin-bottom: rem(8);
        padding-top: 0;
        order: 3;
    }
}

.footer__info {
    font-size: rem(14);

    &:not(:last-child) {
        margin-bottom: rem(10);
    }
}

.footer__requisites {
    padding-top: rem(10);

    @media (max-width: em(992)) {
        padding-top: 0;
        order: 4;
    }
}

.socials__item {
}

.socials__link {
}

.arrow-top {
}

//====================================================================================================
