//====================================================================================================

//====================================================================================================

//Burger

.icon-menu {
    display: none;
    @media (max-width: $mobile) {
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
        z-index: 6;
        span,
        &::before,
        &::after {
            content: '';
            transition: all 0.3s ease 0s;
            left: 0px;
            position: absolute;
            z-index: 6;
            width: 100%;
            height: 2px;
            border-radius: 90px;
            background-color: #000;
        }
        &::before {
            top: 0px;
        }
        &::after {
            bottom: 0px;
        }
        span {
            top: calc(50% - 1px);
        }
        .menu-open & {
            &::after,
            &::before,
            span {
                background-color: #ffffff;
            }

            .icon-menu__bg {
                background-color: $accent;
            }
        }
    }
}

.header {
    @media (max-width: $mobile) {
        .socials {
            justify-content: center;
        }
    }
}

.header__nav {
    position: relative;
    padding: rem(16) 0 rem(22);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $mobile) {
        &::after {
            position: absolute;
            z-index: 5;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #ffffff;
            content: '';
        }
    }
}

.menu__icon {
    margin: 0 rem(15);
}

.icon-menu {
    .icon-menu__bg {
        position: absolute;
        z-index: 5;
        top: -110%;
        left: -50%;
        width: 60px;
        height: 60px;
        background-color: #ececec;
        border-radius: 50%;
    }
}

.menu__mobile {
    max-width: 35%;
    transition: transform 0.3s ease;

    @media (max-width: $tablet) {
        max-width: 42%;
    }

    @media (max-width: $mobile) {
        position: fixed;
        z-index: 5;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        max-width: 100%;
        width: 100%;
        height: 100%;
        overflow: auto;
        flex-direction: column;
        align-items: center;
        padding: rem(145) rem(20) rem(40);
        background-color: #ffffff;
        box-shadow: 0 4px 13px rgba(30, 35, 66, 0.11);
    }
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: rem(20);

    @media (max-width: $mobile) {
        margin-bottom: rem(30);
        row-gap: rem(30);
        flex-direction: column;
        align-items: center;
    }
}

.menu__item {
    &:not(:last-child) {
        margin-right: rem(30);

        @media (max-width: $mobile) {
            margin-right: 0;
        }
    }
}

.menu__basket {
    position: relative;
    margin-right: rem(20);

    @media (max-width: $tablet) {
        position: static;
    }

    @media (max-width: $mobile) {
        margin-right: 0;
    }
}

.menu__basket-info {
    position: absolute;
    z-index: 2;
    display: none;
    top: calc(100% + rem(25));
    left: 50%;
    transform: translate(-50%);
    padding: rem(20);
    border-radius: 20px;

    &.active {
        display: block;
    }

    &:before,
    &::after {
        position: absolute;
        content: '';
        background-color: #ffffff;
        backdrop-filter: blur(14px);
        box-shadow: 0 4px 13px rgba(30, 35, 66, 0.11);
    }

    &::before {
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }

    &::after {
        z-index: -1;
        top: rem(-13);
        left: 50%;
        width: rem(50);
        height: rem(50);
        transform: translateX(-50%) rotate(45deg);
        border-radius: 5px;
    }

    .quantity__button,
    .quantity__head,
    .card__price {
        display: none;
    }

    .menu__basket-item {
        .card__img {
            width: rem(53);
            height: rem(53);
        }
    }

    .card {
        margin-bottom: rem(20);
        padding: rem(10) rem(15) rem(10) rem(10);
        border: 1px solid #dddddd;

        .card__box {
            max-width: 50%;
            gap: rem(11);
        }

        .card__category {
            margin-bottom: rem(10);
            font-size: rem(11);
        }

        .card__name {
            font-size: rem(13);
            @include cut-text(2);
        }

        .card__weight {
            font-size: rem(10);
        }
    }

    @media (max-width: $tablet) {
        position: fixed;
        z-index: 8;
        top: 0;
        right: 0;
        left: auto;
        transform: translateX(100%);
        display: block;
        width: 70%;
        height: 100%;
        background-color: #ffffff;
        transition: transform 0.3s ease;
        border-radius: 0;

        &.active {
            transform: translateX(0);
        }

        &::before,
        &::after {
            display: none;
        }

        @media (max-width: $mobileSmall) {
            width: 90%;
        }
    }
}

.menu__basket-total,
.menu__basket-btn {
    position: relative;
    z-index: 1;
    line-height: 1.4;
}

.menu__basket-total {
    margin-bottom: rem(20);
    text-align: center;
    font-size: rem(14);
}

.menu__basket-btn {
    width: 100%;
    font-size: rem(14);
}

.menu__link {
    font-size: rem(15);
    transition: color 0.3s ease;

    &:hover {
        color: $second;
    }

    &--shop {
        @media (max-width: $tablet) {
            display: none;
        }

        @media (max-width: $mobile) {
            margin-bottom: rem(40);
            display: block;
            text-align: center;
        }
    }

    &--basket {
        position: relative;
        background-image: url(@img/icons/icon-basket.svg);
        background-size: 22px 26px;
        background-position: center;
        background-repeat: no-repeat;
        width: rem(60);
        height: rem(60);
        background-color: #ececec;
        border-radius: 50%;
    }

    @media (max-width: $mobile) {
        font-size: rem(18);
    }
}

.logo {
    max-width: rem(126);
    object-fit: cover;
}

.header__logo {
    margin: 0 auto;
    z-index: 6;
    display: block;

    @media (max-width: $tablet) {
        margin-left: rem(35);
    }

    @media (max-width: $mobile) {
        margin-left: auto;

        .logo__img {
            max-width: rem(102);
        }
    }
}

.menu__shop {
    display: flex;
    align-items: center;
    z-index: 6;

    .menu__link {
        margin-right: rem(50);

        &--basket {
            margin-right: 0;
        }
    }
}

.menu__counter {
    position: absolute;
    top: 0;
    right: 0;
    color: #ffffff;
    background-color: #f08f8e;
    border-radius: 15px;
    padding: 0 5px;
    min-width: 15px;
    line-height: 15px;
    font-size: 10px;
    text-align: center;
}

.menu__price {
    margin-right: rem(45);

    @media (max-width: $tablet) {
        display: none;
    }
}

.socials {
    display: flex;
}

.socials__item {
    &:not(:last-child) {
        margin-right: rem(20);
    }
}

.socials__link {
    display: block;

    &:hover {
        .socials__icon {
            fill: $accent;
        }
    }
}

.socials__icon {
    height: rem(17);
    transition: fill 0.3s ease;

    &--facebook {
        width: rem(8);
    }

    &--insta {
        width: rem(17);
    }
}
