.newsline-slider {
    @include adaptiveValue('margin-bottom', 70, 50);
}

.newsline-slider__mobile-offer {
    display: none;

    @media (max-width: $mobile) {
        margin-bottom: rem(36);
        display: block;
        text-align: center;
    }
}

.newsline-slider__heading {
    margin: 0 auto rem(15);
    font-size: rem(22);
    max-width: 70%;
}

.newsline-slider__descr {
    color: $accent;
    font-size: rem(18);
}

.newsline-slider__slider {
}

.newsline-slider__swiper {
}

.newsline-slider__slide {
    transform: translateX(80%);
    border-radius: 20px;
    overflow: hidden;
}

.newsline-slider__link {
    display: block;
}

.newsline-slider__image {
    object-fit: cover;
    max-width: rem(250px);
    @include adaptiveValue('height', 250, 150);
    width: 100%;
}

.newsline-slider__slide--banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: rem(5) rem(20);
    background-color: $accent;
    color: #ffffff;

    @media (max-width: $mobile) {
        display: none;
    }
}

.newsline-slider__name {
    margin-bottom: rem(20);
    @include adaptiveValue('font-size', 28, 20);
    line-height: 1.15;
}

.newsline-slider__value {
    @include adaptiveValue('font-size', 20, 18);
    line-height: 1.2;
}
