.product-slider {
    @include adaptiveValue('margin-bottom', 75, 95);
}

.product-slider__container {
    position: relative;
}

.product-slider__title {
    @include adaptiveValue('margin-bottom', 45, 40);
    padding-bottom: rem(20);
    max-width: 60%;
    line-height: 1.4;

    @media (max-width: $mobile) {
        text-align: center;
        max-width: 100%;

        &::after {
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.product-slider__pagination {
    position: absolute;
    display: none;

    @media (max-width: em(1366)) {
        display: flex;
        bottom: rem(-35);
        left: 50%;
        transform: translateX(-50%);
    }
}

.product-slider__arrow {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    width: rem(20);
    height: rem(35);
    background-image: url(@img/icons/arrow-icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;

    &.swiper-button-disabled {
        opacity: 0.5;
    }

    &--prev {
        left: rem(-40);
    }

    &--next {
        transform: rotate(180deg) translateY(50%);
        right: rem(-40);
    }

    @media (max-width: em(1366)) {
        display: none;
    }
}
